PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=G798E0_KVwS8ByHZzSG9eyokKD1Wpj5D
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB_NAME=todo
